<section
  class="container about container--is-active"
  role="tabpanel"
  aria-labelledby="about-tab"
  id="about-panel"
  aria-hidden="false"
  data-tab-panel
>
  <div class="about__wrapper" data-wrapper>
    <picture class="about__photo-wrapper">
      <source srcset="/src/assets/images/photo2.webp" type="image/webp" />
      <img class="about__photo" src="/src/assets/images/photo2.png" alt="" decoding="async" />
    </picture>
    <div class="about__info">
      <p class="about__text">
        Привет! Меня зовут Денис, ищу позицию HTML-верстальщик / Junior Frontend Developer.
      </p>
      <p class="about__text bold-text">Стек:</p>
      <ul class="about__list">
        <li class="about__item">
          HTML • CSS • SCSS • PostCSS • LightningCSS • JavaScript • TypeScript
        </li>
        <li class="about__item">Семантика • Доступность • Кроссбраузерность • БЭМ • Flex/Grid</li>
        <li class="about__item">
          DOM API • GSAP • requestAnimationFrame • Intersection Observer • View Transitions API •
          Асинхронность
        </li>
        <li class="about__item">Pub/Sub • Throttle • Debounce</li>
        <li class="about__item">Vite • Vituum • Nunjucks</li>
        <li class="about__item">ESLint • Stylelint • Prettier • Lighthouse • Git</li>
        <li class="about__item">Figma • Photoshop • Illustrator • Основы дизайна</li>
      </ul>
    </div>
  </div>
</section>
