<section
  class="container contacts"
  role="tabpanel"
  aria-labelledby="contacts-tab"
  id="contacts-panel"
  aria-hidden="true"
  data-tab-panel
>
  <div class="contacts__wrapper" data-wrapper>
    <ul class="contacts__list">
      <li class="contacts__item">
        <a
          href="https://web.telegram.org/@jackrassul"
          class="contacts__link"
          aria-label="перейти в телеграм"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="contacts__icon" aria-hidden="true">
            <use href="#icon-telegram"></use>
          </svg>
          <span class="contacts__text">@jackrassul</span>
        </a>
      </li>
      <li class="contacts__item">
        <a href="tel:+79995889802" class="contacts__link" aria-label="">
          <svg class="contacts__icon" aria-hidden="true">
            <use href="#icon-phone"></use>
          </svg>
          <span class="contacts__text">8 (999) 588-98-02</span>
        </a>
      </li>
      <li class="contacts__item">
        <a href="mailto:jackrassul@icloud.com" class="contacts__link" aria-label="">
          <svg class="contacts__icon" aria-hidden="true">
            <use href="#icon-mail"></use>
          </svg>
          <span class="contacts__text">jackrassul@icloud.com</span>
        </a>
      </li>
      <li class="contacts__item">
        <a
          href="https://github.com/DenisKhairutdinov?tab=repositories"
          class="contacts__link"
          aria-label="перейти в гитхаб"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="contacts__icon" aria-hidden="true">
            <use href="#icon-github"></use>
          </svg>
          <span class="contacts__text">GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</section>
