<section
  class="container projects"
  role="tabpanel"
  aria-labelledby="projects-tab"
  id="projects-panel"
  aria-hidden="true"
  data-tab-panel
>
  <div class="projects__wrapper" data-wrapper>
    <ul class="projects__list" data-project-cards>
      <li class="projects__item">
        <button
          class="project"
          tabindex="0"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-controls="castpress"
          data-event-button
          data-pub-event="castpress: open-request"
          data-sub-event="castpress: close"
          type="button"
        >
          <div class="project__wrapper">
            <video class="project__video" muted playsinline loop>
              <source src="/src/assets/video/castpress.webm" type="video/webm" />
            </video>
          </div>
          <div class="project__info">
            <h2 class="project__title">CastPress.</h2>
            <p class="project__description">Многостраничный сайт<br />студии подкастов</p>
            <div class="project-links">
              <a
                href="https://deniskhairutdinov.github.io/CastPress/"
                class="project-link"
                aria-label="Перейти на сайт проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-web"></use>
                </svg>
              </a>
              <a
                href="https://github.com/DenisKhairutdinov/CastPress"
                class="project-link"
                aria-label="Перейти в GitHub проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-github"></use>
                </svg>
              </a>
            </div>
          </div>
        </button>
      </li>
      <li class="projects__item">
        <button
          class="project"
          tabindex="0"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-controls="mndance"
          data-event-button
          data-pub-event="mndance: open-request"
          data-sub-event="mndance: close"
          type="button"
        >
          <div class="project__wrapper">
            <video class="project__video" muted playsinline loop>
              <source src="/src/assets/video/mndance.webm" type="video/webm" />
            </video>
          </div>
          <div class="project__info">
            <h2 class="project__title">MNDance</h2>
            <p class="project__description">Лендинг<br />студии танцев</p>
            <div class="project-links">
              <a
                href="https://deniskhairutdinov.github.io/MNDance/"
                class="project-link"
                aria-label="Перейти на сайт проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-web"></use>
                </svg>
              </a>
              <a
                href="https://github.com/DenisKhairutdinov/MNDance"
                class="project-link"
                aria-label="Перейти в GitHub проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-github"></use>
                </svg>
              </a>
            </div>
          </div>
        </button>
      </li>
      <li class="projects__item">
        <button
          class="project"
          tabindex="0"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-controls="onehp"
          data-event-button
          data-pub-event="onehp: open-request"
          data-sub-event="onehp: close"
          type="button"
        >
          <div class="project__wrapper">
            <video class="project__video" muted playsinline loop>
              <source src="/src/assets/video/onehp.webm" type="video/webm" />
            </video>
          </div>
          <div class="project__info">
            <h2 class="project__title">OneHP</h2>
            <p class="project__description">Браузерная<br />2D игра</p>
            <div class="project-links">
              <a
                href="https://deniskhairutdinov.github.io/oneHP/"
                class="project-link"
                aria-label="Перейти на сайт проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-web"></use>
                </svg>
              </a>
              <a
                href="https://github.com/DenisKhairutdinov/oneHP/tree/main"
                class="project-link"
                aria-label="Перейти в GitHub проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://www.figma.com/design/TolXaz7FUxjJHn4Hp2kbFN/oneHP?node-id=302-2343&t=X4ph6T1sbUms3oR3-1"
                class="project-link"
                aria-label="Перейти в Figma проекта"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-figma"></use>
                </svg>
              </a>
            </div>
          </div>
        </button>
      </li>
      <li class="projects__item">
        <button
          class="project"
          tabindex="0"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-controls="design"
          data-event-button
          data-pub-event="design: open-request"
          data-sub-event="design: close"
          type="button"
        >
          <div class="project__wrapper">
            <picture class="project__image-wrapper">
              <source srcset="/src/assets/images/design/coffee-drunker.webp" type="image/webp" />
              <img
                class="project__image"
                src="/src/assets/images/design/coffee-drunker.png"
                alt=""
                decoding="async"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="project__info">
            <h2 class="project__title">Дизайн</h2>
            <p class="project__description">Айдентика<br />и полиграфия</p>
            <div class="project-links" style="visibility: hidden;">
              <a href="https://web.telegram.org/" class="project-link" aria-label="">
                <svg class="project-icon" aria-hidden="true">
                  <use href="#icon-figma"></use>
                </svg>
              </a>
            </div>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
