{% set pageTitle = "Портфолио | Хайрутдинов Денис" %}
{% extends "layout.njk" %}

{% block content %}
  {% include "about.njk" %}
  {% include "projects.njk" %}
  {% include "contacts.njk" %}
  <!-- modals  -->
  {% include "castpress.njk" %}
  {% include "mndance.njk" %}
  {% include "onehp.njk" %}
  {% include "design.njk" %}
{% endblock %}
