@font-face {
  font-family: Idealist-Sans;
  font-style: normal;

  font-display: swap;
  src: url('/assets/fonts/Idealist-Sans.woff2') format('woff2');
}

@font-face {
  font-family: Bounded;
  font-style: normal;

  font-display: swap;
  src: url('/assets/fonts/Bounded-Regular.woff2') format('woff2');
}
